/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-image: url("cotacao.jpg");
}

h1, h2 {
  color: #333;
  text-align: center;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Cotacao section */
.cotacao {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

/* Conversor section */
.conversor {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.conversor div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 100px;
  text-align: right;
}

span {
  margin-right: 5px;
  font-weight: bold;
}

#resultado_conversao {
  font-size: 18px;
}
